* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rosybrown;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: 5rem;
  font-weight: bold;
}
